{% extends 'UevfPlatformBundle::layout.html.twig' %}
{% block title %}{{parent()}} - Annonces{% endblock %}
{% block pageContent %}
        <div class="form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="test">

        </div>
{% endblock %}
