@import "includes/mixins";
@import "includes/config";

body {
    background-color: $color-background;
}


.btn {
    display: block;
    cursor: pointer;
    background-color: $color-primary-1;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.hide {
    display: none;
}

.no-padding{
    padding: 0;
}
