@import "includes/mixins";
@import "includes/config";

body {
    background-color: $color-background;
    overflow-x: hidden;
}


.btn {
    display: block;
    @include pre-wrap;
    cursor: pointer;
    background-color: $color-primary-1;
    font-weight: bold;
    color: $color-main;
    border-radius: 5px;
    transition: .2s;
    &:hover{
        color: $color-main;
        opacity: .75;
    }
}


.hide {
    display: none;
}

.no-padding{
    padding: 0;
}

.txtCenter{
    text-align: center;
}
