@import "includes/mixins";
@import "includes/config";

header{
    display: block;
    position: fixed;
    width: 100%;
    height: auto;
    top:0;
    left: 0;
    z-index: 1000;
}

.uevf-util-bar {
    background-color: #00303f;
    position: relative;
    padding: 10px;
    color: #fff;
}


@media #{$screen-lg} {
    .uevf-menu {
        display: block;
        width: 100%;
        height: $height-menu;
        background-color: $color-main;
        box-shadow: 0 3px 10px rgb(112, 112, 112);
        position: relative;
        left: 0;
        z-index: 1000;
        .wrap {
            display: block;
            width: 100%;
            height: $height-menu;
            background-color: $color-main;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1000;
            padding: 0 10px;

            .uevf-logo {
                display: block;
                width: auto;
                height: ($height-menu*8/10 );
                position: absolute;
                @include centerer(false,true);

                .img {
                    float: left;
                    width: ($height-menu*8/10 );
                    height: ($height-menu*8/10 );
                }

                .label {
                    float: left;
                    font-size: 35px;
                    font-weight: 700;
                    line-height: ($height-menu*8/10);
                    color: $color-primary-2;
                }
            }

            .uevf-collapse-toggle {
                display: none;
            }

            .uevf-navbar {
                max-height: 600px;
                margin: 0;
                height: $height-menu;
                top:0;
                position: relative;
                float: right;

                & > .item {
                    display: inline-block;
                    height: 100%;
                    padding: 0 10px;
                    position: relative;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        padding: 0;
                        margin: 0;
                        position: relative;

                        span {
                            display: inline-block;
                            vertical-align: middle;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: $height-menu;
                            position: relative;
                            color: $color-inactive;
                        }

                        img{
                            margin-left: 10px;
                            display: inline-block;
                            vertical-align: middle;
                            width: 10px;
                            height: 8px;
                        }
                    }

                    .subitem-lv1 {
                        display: none;
                    }

                    &:hover {
                        background-color: $color-primary-1;

                        & > a {
                            span {
                                color: $color-main;
                            }
                        }

                        .subitem-lv1 {
                            display: block;
                            list-style-type: none;
                            padding: 5px;
                            position: absolute;
                            left: 0;
                            background-color: $color-primary-1;

                            .item {
                                width: 170px;
                                height: auto;
                                margin-top: 5px;
                                position: relative;

                                a {
                                    margin: 0;
                                    padding: 0;
                                    width: 100%;
                                    height: auto;
                                    padding: 10px 0;

                                    span {
                                        line-height: 5px;
                                        font-weight: 500;
                                        font-size: 13px;
                                        color: $color-main;
                                        margin-left: 10px;
                                        @include centerer(false,true);
                                    }
                                }

                                &:hover {
                                    background-color: $color-light-blue;
                                }
                            }
                        }
                    }
                }

                .active {
                    span {
                        color: $color-primary-2 !important;
                    }
                }
            }
        }
    }
}
@media #{$screen-sm} {
        .uevf-menu {
            display: block;
            width: 100%;
            height: $height-menu;
            background-color: $color-main;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1000;
            .wrap {
                display: block;
                width: 100%;
                height: $height-menu;
                background-color: $color-main;
                position: relative;
                top: 0;
                left: 0;
                z-index: 1000;

                .uevf-logo {
                    display: block;
                    width: auto;
                    height: ($height-menu*8/10 );
                    position: absolute;
                    margin-left: 10px;
                    @include centerer(false,true);

                    .img {
                        float: left;
                        width: ($height-menu*8/10 );
                        height: ($height-menu*8/10 );
                    }

                    .label {
                        float: left;
                        font-size: 25px;
                        font-weight: 700;
                        line-height: ($height-menu*8/10);
                        color: $color-primary-2;
                    }
                }
                .uevf-collapse-toggle {
                    display: block;
                    float: right;
                    width: $height-menu*8/10;
                    height: $height-menu*8/10;
                    background-color: rgba(255, 255, 255, 0);
                    top:$height-menu*1/10;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    &:active{
                        background-color: $color-light-blue;
                    }
                }

                .uevf-navbar{
                    background-color: $color-main;
                    width: 100%;
                    max-height: 0;
                    height: auto;
                    overflow: hidden;
                    position: relative;
                    left: 0;
                    top:12px;
                    list-style: none;
                    padding:0;
                    transition: 0.25s;

                    &>.item{
                        padding: 10px 0;
                        border-top: 1px solid rgb(184, 184, 184);
                        a{
                            text-decoration: none;
                            span{
                                font-size: 18px;
                                font-weight: 600;
                                margin-left: 20px;
                                color: $color-inactive;
                            }

                            img{
                                margin-left: 10px;
                                display: inline-block;
                                vertical-align: middle;
                                width: 10px;
                                height: 8px;
                            }
                        }
                        .subitem-lv1 {
                            display: none;
                        }
                        &:hover{
                            background-color: $color-primary-1;
                            a{
                                text-decoration: none;
                                span{
                                    color: $color-main;
                                }
                            }
                            .subitem-lv1{
                                background-color: $color-primary-1;
                                display: block;
                                list-style: none;
                                width: 100%;
                                padding: 5px 0 0 0;
                                position: relative;
                                left: 0;
                                & > .item{
                                    height: 40px;
                                    a{
                                        width: 100%;
                                        height: 100%;
                                        span{
                                            padding-left: 20px;
                                            font-size: 16px;
                                            line-height: 40px;
                                        }
                                    }
                                    &:active{
                                        background-color: $color-light-blue;
                                    }
                                }
                            }
                        }
                    }

                    &>.active{
                        a{
                            span{
                                color: $color-primary-2;
                            }
                        }
                    }
                }
            }
        }
}
