<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock %}</title>
        {% stylesheets filter='cssrewrite'
            'vendor/bootstrap/css/bootstrap.min.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('uploads/Main/icons/site-icon.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% javascripts filter='jsqueeze'
            'https://code.jquery.com/jquery-3.2.1.min.js'
            'https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'
            'vendor/bootstrap/js/bootstrap.min.js'
            'http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
