/**
 * mixin centerer content
 * @x {booleen}
 * @y {booleen}
 */
@mixin centerer($x, $y) {
     @if $x{
        left: 50%;
        transform: translateX(-50%);
    }
    @if $y {
        top: 50%;
        transform: translateY(-50%);
    }
}
@mixin placeholdercolor ($color){
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $color;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: $color;
    }
}

@mixin square-size($size){
    height: $size;
    width: $size;
}

@mixin heightAndLineHeight($height) {
    height: $height;
    line-height: $height;
}

@mixin pre-wrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */    
}
