/**
 * mixin centerer content
 * @x {booleen}
 * @y {booleen}
 */
header {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1000; }

.uevf-util-bar {
  background-color: #00303f;
  position: relative;
  padding: 10px;
  color: #fff; }

@media screen and (min-width: 930px) {
  .uevf-menu {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 3px 10px #707070;
    position: relative;
    left: 0;
    z-index: 1000; }
    .uevf-menu .wrap {
      display: block;
      width: 100%;
      height: 70px;
      background-color: #fff;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1000;
      padding: 0 10px; }
      .uevf-menu .wrap .uevf-logo {
        display: block;
        width: auto;
        height: 56px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
        .uevf-menu .wrap .uevf-logo .img {
          float: left;
          width: 56px;
          height: 56px; }
        .uevf-menu .wrap .uevf-logo .label {
          float: left;
          font-size: 35px;
          font-weight: 700;
          line-height: 56px;
          color: #00303e; }
      .uevf-menu .wrap .uevf-collapse-toggle {
        display: none; }
      .uevf-menu .wrap .uevf-navbar {
        max-height: 600px;
        margin: 0;
        height: 70px;
        top: 0;
        position: relative;
        float: right; }
        .uevf-menu .wrap .uevf-navbar > .item {
          display: inline-block;
          height: 100%;
          padding: 0 10px;
          position: relative; }
          .uevf-menu .wrap .uevf-navbar > .item a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            padding: 0;
            margin: 0;
            position: relative; }
            .uevf-menu .wrap .uevf-navbar > .item a span {
              display: inline-block;
              vertical-align: middle;
              font-weight: 500;
              font-size: 16px;
              line-height: 70px;
              position: relative;
              color: rgba(0, 48, 63, 0.51); }
            .uevf-menu .wrap .uevf-navbar > .item a img {
              margin-left: 10px;
              display: inline-block;
              vertical-align: middle;
              width: 10px;
              height: 8px; }
          .uevf-menu .wrap .uevf-navbar > .item .subitem-lv1 {
            display: none; }
          .uevf-menu .wrap .uevf-navbar > .item:hover {
            background-color: #db470e; }
            .uevf-menu .wrap .uevf-navbar > .item:hover > a span {
              color: #fff; }
            .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 {
              display: block;
              list-style-type: none;
              padding: 5px;
              position: absolute;
              left: 0;
              background-color: #db470e; }
              .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 .item {
                width: 170px;
                height: auto;
                margin-top: 5px;
                position: relative; }
                .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 .item a {
                  margin: 0;
                  padding: 0;
                  width: 100%;
                  height: auto;
                  padding: 10px 0; }
                  .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 .item a span {
                    line-height: 5px;
                    font-weight: 500;
                    font-size: 13px;
                    color: #fff;
                    margin-left: 10px;
                    top: 50%;
                    transform: translateY(-50%); }
                .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 .item:hover {
                  background-color: rgba(202, 228, 219, 0.75); }
        .uevf-menu .wrap .uevf-navbar .active span {
          color: #00303e !important; } }
@media screen and (max-width: 930px) {
  .uevf-menu {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000; }
    .uevf-menu .wrap {
      display: block;
      width: 100%;
      height: 70px;
      background-color: #fff;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1000; }
      .uevf-menu .wrap .uevf-logo {
        display: block;
        width: auto;
        height: 56px;
        position: absolute;
        margin-left: 10px;
        top: 50%;
        transform: translateY(-50%); }
        .uevf-menu .wrap .uevf-logo .img {
          float: left;
          width: 56px;
          height: 56px; }
        .uevf-menu .wrap .uevf-logo .label {
          float: left;
          font-size: 25px;
          font-weight: 700;
          line-height: 56px;
          color: #00303e; }
      .uevf-menu .wrap .uevf-collapse-toggle {
        display: block;
        float: right;
        width: 56px;
        height: 56px;
        background-color: rgba(255, 255, 255, 0);
        top: 7px; }
        .uevf-menu .wrap .uevf-collapse-toggle img {
          width: 100%;
          height: 100%; }
        .uevf-menu .wrap .uevf-collapse-toggle:active {
          background-color: rgba(202, 228, 219, 0.75); }
      .uevf-menu .wrap .uevf-navbar {
        background-color: #fff;
        width: 100%;
        max-height: 0;
        height: auto;
        overflow: hidden;
        position: relative;
        left: 0;
        top: 12px;
        list-style: none;
        padding: 0;
        transition: 0.25s; }
        .uevf-menu .wrap .uevf-navbar > .item {
          padding: 10px 0;
          border-top: 1px solid #b8b8b8; }
          .uevf-menu .wrap .uevf-navbar > .item a {
            text-decoration: none; }
            .uevf-menu .wrap .uevf-navbar > .item a span {
              font-size: 18px;
              font-weight: 600;
              margin-left: 20px;
              color: rgba(0, 48, 63, 0.51); }
            .uevf-menu .wrap .uevf-navbar > .item a img {
              margin-left: 10px;
              display: inline-block;
              vertical-align: middle;
              width: 10px;
              height: 8px; }
          .uevf-menu .wrap .uevf-navbar > .item .subitem-lv1 {
            display: none; }
          .uevf-menu .wrap .uevf-navbar > .item:hover {
            background-color: #db470e; }
            .uevf-menu .wrap .uevf-navbar > .item:hover a {
              text-decoration: none; }
              .uevf-menu .wrap .uevf-navbar > .item:hover a span {
                color: #fff; }
            .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 {
              background-color: #db470e;
              display: block;
              list-style: none;
              width: 100%;
              padding: 5px 0 0 0;
              position: relative;
              left: 0; }
              .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 > .item {
                height: 40px; }
                .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 > .item a {
                  width: 100%;
                  height: 100%; }
                  .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 > .item a span {
                    padding-left: 20px;
                    font-size: 16px;
                    line-height: 40px; }
                .uevf-menu .wrap .uevf-navbar > .item:hover .subitem-lv1 > .item:active {
                  background-color: rgba(202, 228, 219, 0.75); }
        .uevf-menu .wrap .uevf-navbar > .active a span {
          color: #00303e; } }

/*# sourceMappingURL=uevf-header.css.map */

/**
 * mixin centerer content
 * @x {booleen}
 * @y {booleen}
 */
.main > div {
  height: 100vh; }
.main .form {
  background-color: white;
  height: 550px;
  padding: 0;
  border-radius: 10px;
  overflow: hidden; }
  .main .form .image {
    height: 100%;
    background-image: url("../uploads/Main/wallpaper/student-wallpapers.jpg");
    background-size: cover;
    background-position: center;
    vertical-align: middle; }
    .main .form .image h1 {
      color: rgba(255, 255, 255, 0.66);
      text-align: center;
      font-size: 40px;
      line-height: 550px; }
  .main .form .inputfield {
    height: 550px;
    padding-top: 50px; }
    .main .form .inputfield .logo {
      width: 100px;
      height: 100px;
      margin: 0 auto 60px; }
      .main .form .inputfield .logo img {
        width: 100%;
        height: 100%;
        opacity: 0.8; }
    .main .form .inputfield form {
      padding: 0 20px; }
      .main .form .inputfield form input[type=email],
      .main .form .inputfield form input[type=password],
      .main .form .inputfield form input[type=tel],
      .main .form .inputfield form input[type=text],
      .main .form .inputfield form input[type=url] {
        background-color: rgba(255, 255, 255, 0);
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        padding-left: 2px;
        margin: 10px 0; }
        .main .form .inputfield form input[type=email]::-webkit-input-placeholder,
        .main .form .inputfield form input[type=password]::-webkit-input-placeholder,
        .main .form .inputfield form input[type=tel]::-webkit-input-placeholder,
        .main .form .inputfield form input[type=text]::-webkit-input-placeholder,
        .main .form .inputfield form input[type=url]::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(0, 48, 63, 0.51); }
        .main .form .inputfield form input[type=email]::-moz-placeholder,
        .main .form .inputfield form input[type=password]::-moz-placeholder,
        .main .form .inputfield form input[type=tel]::-moz-placeholder,
        .main .form .inputfield form input[type=text]::-moz-placeholder,
        .main .form .inputfield form input[type=url]::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(0, 48, 63, 0.51); }
        .main .form .inputfield form input[type=email]:-ms-input-placeholder,
        .main .form .inputfield form input[type=password]:-ms-input-placeholder,
        .main .form .inputfield form input[type=tel]:-ms-input-placeholder,
        .main .form .inputfield form input[type=text]:-ms-input-placeholder,
        .main .form .inputfield form input[type=url]:-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(0, 48, 63, 0.51); }
        .main .form .inputfield form input[type=email]:-moz-placeholder,
        .main .form .inputfield form input[type=password]:-moz-placeholder,
        .main .form .inputfield form input[type=tel]:-moz-placeholder,
        .main .form .inputfield form input[type=text]:-moz-placeholder,
        .main .form .inputfield form input[type=url]:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(0, 48, 63, 0.51); }
      .main .form .inputfield form input[type=submit] {
        margin: 0 auto; }
      .main .form .inputfield form label {
        color: rgba(0, 48, 63, 0.51);
        font-size: 12px; }
      .main .form .inputfield form .form-group {
        margin-bottom: 31px; }
    .main .form .inputfield .register {
      display: block;
      margin: 30px 0 0;
      font-size: 12px;
      text-align: center;
      position: relative;
      margin-top: 20px; }

body {
  background-image: url("../uploads/Main/wallpaper/student-wallpapers-blur.jpg");
  background-size: cover;
  background-position: center; }

/*# sourceMappingURL=register.css.map */
